<header id="header">
    <nav>
        <ul class="nav-menu">
            <li><a routerLink="/home" routerLinkActive="is-active" ><i class="fa fa-home" aria-hidden="true"></i> Home</a></li>
            <li *ngFor="let routerCategory of categories"><a routerLink="/category/{{ routerCategory.slug }}" routerLinkActive="is-active" ><i class="fa {{ routerCategory.description }}" aria-hidden="true"></i> {{ routerCategory.name }}</a></li>
        </ul>
        <ul class="menu-mobile">
            <a (click)="openOverlay('menuOverlay')"><i class="fa fa-bars" aria-hidden="true"></i></a>
        </ul>
        
        <ul class="nav-search">
            <li><a href="http://goo.gl/v9Rso8"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
            <li><a href="http://goo.gl/Md0yud"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
            <li><a href="http://goo.gl/e7PosF"><i class="fa fa-shopping-bag" aria-hidden="true"></i></a></li>
            <li><a class="search-trigger" (click)="openOverlay('searchOverlay'); getSearchData()"><i class="fa fa-search" aria-hidden="true"></i></a></li>
        </ul>
    </nav>
</header>
<!--menu overlay-->
<div id="menuOverlay" class="overlay">
  <a class="closebtn" (click)="closeOverlay('menuOverlay')">&times;</a>
  <div class="overlay-content">
    <a routerLink="/home" (click)="closeOverlay('menuOverlay')"><i class="fa fa-home" aria-hidden="true"></i> Home</a>
    <a *ngFor="let routerCategory of categories" routerLink="/category/{{ routerCategory.slug }}" (click)="closeOverlay('menuOverlay')"><i class="fa {{ routerCategory.description }}" aria-hidden="true"></i> {{ routerCategory.name }}</a>
  </div>
</div>
<!---->
<!--search overlay-->
<div id="searchOverlay" class="overlay">
  <a class="closebtn" (click)="closeOverlay('searchOverlay')">&times;</a>
  <div class="overlay-content">
    <input class="search-input" type="text" placeholder="Search..." name="search" [(ngModel)]="searchKey" (keydown.enter)="getSearchData()">
    <div class="search-content" >
        <div *ngFor="let post of searchPosts" class="seach-card">
            <a class="title" [routerLink]="['/post', post.id, post.slug]"  (click)="closeOverlay('searchOverlay')">{{post.title.rendered}}</a>
            <span class="desc" [innerHTML]="post.excerpt.rendered"></span>
        </div>
    </div>
  </div>
</div>

<div class="parallax">
    <div class="parallax-logo">
        <a routerLink="/home"><img src="../assets/images/logo.png" alt="logo"></a>
    </div>
    <h1>Len Vintage</h1>
    <div class="parallax-to-content">
        <a (click)="scrollToDownMain()">
            <i class="fa fa-arrow-down" aria-hidden="true"></i>
        </a>
    </div>
</div>
<main id="main">
        <div class="web-container">
            <div class="about">
<!--               About me-->
                <img class="about-thumb" src="assets/images/avatar.jpg" alt="len">
                <h1>LEN vintage</h1>
                <span>Kẹo thì ngọt. Len thì rối. Nước khó nắm bắt... Nhưng tất cả rồi sẽ ổn thôi </span>
            </div>
            <div class="web-wrapper">
<!--               Main content of website-->
              <router-outlet></router-outlet>  
            </div>
            <div class="sidebar">
<!--               Sidebar components-->
                <!--latest posts-->
                <h1>Popular posts</h1>
                
                <div *ngFor="let post of randomPosts" class="sidebar-card">
                    <div class="sidebar-card_thumb">
                        <a [routerLink]="['/post', post.id, post.slug]"><img src="{{post.better_featured_image.media_details.sizes.thumbnail.source_url}}" alt="{{post.title.rendered}}"></a>
                    </div>
                    <div class="sidebar-card_info">
                        <div class="sidebar-card_title">
                            <a [routerLink]="['/post', post.id, post.slug]">{{post.title.rendered}}</a>
                        </div>
                        <div class="sidebar-card_time">
                            {{post.date | date:"dd/MM/yyyy"}}
                        </div>
                    </div>
                </div>
                <!--Tag cloud-->
                <h1>Tag Cloud</h1>
                <div class="sidebar-tags">
                    <a *ngFor="let tag of tags" routerLink="/tag/{{tag.slug}}">{{tag.name}}</a>
                </div>
            
            </div>
        </div>
    </main>
    

<footer>
    <div class="copyright">Beta|Develop by <a href="http://linhho.net">Linh Ho</a></div>
    <div class="back-to-top"><a (click)="scrollToUpMain()"><i class="fa fa-arrow-circle-up" aria-hidden="true"></i></a></div>
</footer>