<div class="card" *ngFor="let post of posts; let i = index">
    <template [ngIf]="i < postNum">
        <div class="thumb-card">
            <a [routerLink]="['/post', post.id, post.slug]"><img [src]="post.better_featured_image.source_url" [alt]="post.title.rendered"></a>
        </div>
        <div class="info-card">
            <div class="info-card_left"></div>
            <div class="info-card_right"></div>
            <div class="category-card">
                <post-category [postId]="post.id"></post-category>
            </div>
        </div>
        <div class="content-card">
            <div class="title-card">
                <a [routerLink]="['/post', post.id, post.slug]">{{post.title.rendered}}</a>
            </div>
            <div class="desc-card">
                <span [innerHTML]="post.excerpt.rendered"></span>
                <div class="continue-reading">
                    <a [routerLink]="['/post', post.id, post.slug]">CONTINUE READING</a>
                </div>
                <div class="bottom-card">
                    <div class="time">
                        {{post.date | date:"dd/MM/yyyy"}} by <a [routerLink]="['/home']">Len</a>
                    </div>
                    <div class="share-card">
                        <a href="https://www.facebook.com/sharer/sharer.php?u={{post.link}}"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                        <a href="https://plus.google.com/share?url={{post.link}}"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                        <a href="https://twitter.com/home?status={{post.link}}"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </template>
</div>

<div class="load-more" *ngIf="postNum <= postsLength">
    <a (click)="postLoadMore()">Load more</a>
</div>